:root {
    /* Modo oscuro */
    --color-bg-dark: #141414;
    --color-bg-secondary-dark: #1E1E1E; /*Bordes 1'*/
    --color-text-dark: #E0E0E0;
    --color-text-secondary-dark: #B3B3B3; /*Bordes 2'*/
    --color-accent-primary-dark: #BB86FC; /*Bordes Acentos'*/
    --color-accent-secondary-dark: #03DAC6;
    --color-error-dark: #CF6679; /*Bordes Error'*/
    --color-link-dark: #8AB4F8;

    /* Modo claro */
    --color-bg-light: #FFFFFF;
    --color-bg-secondary-light: #F5F5F5; /*Bordes 1'*/
    --color-text-light: #212121;
    --color-text-secondary-light: #757575; /*Bordes 2'*/
    --color-accent-primary-light: #6200EE; /*Bordes Acentos'*/
    --color-accent-secondary-light: #018786;
    --color-error-light: #B00020; /*Bordes Error'*/
    --color-link-light: #1A73E8;
}

/* Link start */
    a{
        color: var(--color-link-dark);
    }

    a:hover{
        color: var(--color-accent-primary-dark);
    }
/* Link End */

nav, footer{
    background-color: var(--color-bg-dark);
    border-bottom: 1px solid var(--color-text-secondary-dark);
    border-top: 1px solid var(--color-text-secondary-dark);
}

/* Card Start */
    .card{
        background-color: var(--color-bg-dark);
        border: 1px solid var(--color-text-secondary-dark);
        color: inherit;
    }

    .card:hover{
        background-color: var(--color-bg-secondary-dark);
    }
/* Card End */

/* Style Accordion Start */
    .accordion div{
        color: inherit;
        background-color: inherit;
        border: 1px solid var(--color-text-secondary-dark);
    }

    .custom-accordion-header {
        background-color: var(--color-bg-dark);
        color: var(--color-text-dark);
    }

    .custom-accordion-header:focus {
        box-shadow: 0 0 0 0.25rem var(--color-text-secondary-dark);
        border-color: var(--color-text-secondary-dark);
    }

    .custom-accordion-header:not(.collapsed) {
        background-color: var(--color-bg-secondary-dark);
        color: var(--color-text-dark);
    }

    .custom-accordion-header::after {
        content: '\25BC';
        color: var(--color-accent-primary-dark);
    }

    .custom-accordion-header.collapsed::after {
        content: '\25B6';
        color: var(--color-link-dark);
    }
/* Style Accordion End */